# 小红圈爬虫
REDRING_ACCESS_TOKEN=
REDRING_COOKIE=

# GitHub
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=red_ring_scraper
GITHUB_BRANCH=main

# Notion
NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_STOCK_DATABASE_ID=

# Tushare
TUSHARE_TOKEN=
